.profile__info {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-areas:
    "name edit"
    "description description";
  gap: 16px 18px;
}

@media screen and (max-width: 720px) {
  .profile__info {
    justify-items: center;
    gap: 14px 10px;
    margin-top: 26px;
  }
}
